prisma/**/generated/**
/.git
/.results
/scripts
/node_modules
/.next
/generated
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/coverage
/uploads/*
/*.log
/cypress/videos/*
/cypress/screenshots/*
*.orig